<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <%- include head %>
  </head>

  <body>
    <%- include('top', {username: username})  %>

    <div class="list">

      <% data.list.map(function(item, index) { %>


      <div class="row">
        <!-- 序号、作者、帖子标题、时间、编辑、删除 -->
    <span><%= index+1 %></span>
    <span><%= item.username %></span>
      <span><%= item.title %></span>  
      <span><%= item.time %></span>
      <span><a href="">编辑</a><a href="">删除</a></span>
    </div>
    <% }) %>

    <!-- 页码显示 -->
    <div class="pages">
      <% for(let i=1; i<=data.total; i++) { %>
                                                  <!-- 点击页码   把页码传递给后台 -->
        <a href="/?page=<%= i %>"><%= i %></a>
      <% } %>
    </div>
  </div>


  </body>
</html>
